$border-radius: 20px;
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.map {
    text-align: center;
}
.menu {
    position: relative;
    & ul{
        width: 400px;
        display: grid;
        row-gap: 3px;
        & li {
            &:first-child {
                border-radius: $border-radius $border-radius 0 0;
            }
            &:last-child {
                border-radius: 0 0 $border-radius $border-radius;
            }
        }
    }
}