$text: 'Rubik';

.pop_up {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    &.active {
        display: block;
    }
    &_container {
        display: flex;
        width: 100%;
        height: 100%;
        background: transparent;
    }
    &_body {
        margin: 150px auto;
        font-family: $text;
        font-weight: 400;
        font-size: 20px;
        line-height: 44px;
        width: 500px;
        height: 60px;
        background-color: #fff;
        border-radius: 100px;
        border: none;
        text-align: start;
        padding: 0px 25px;
        position: relative;
        &:focus {
            outline: none;
        }
    }
    &_input {
        font-family: $text;
        font-weight: 400;
        font-size: 20px;
        line-height: 44px;
        width: 100%;
        height: 60px;
        background-color: #fff;
        border-radius: $border-radius;
        border: none;
        text-align: start;
        &:focus {
            outline: none;
        }
    }
    &_btn {
        // display: none;
        position: absolute; 
        top: 0;
        right: 0px;
        width: 42px;
        height: 60px;
        border: none;
        background: rgba(88, 69, 167, 1);
        border-radius: 0 $border-radius $border-radius 0;
        cursor: pointer;
        transform: scale(0);
        transition: .4s cubic-bezier(0, 0.8, 0, 1);
        &:before {
            content: url(../img/search_1.svg);
            color: rgba(88, 69, 167, 1);
        }
        &.active{
            // display: block;
            // transition: .4s ease-in-out;
            // transition: .4s cubic-bezier(0, 0.8, 0, 1);
            transform: scale(100%);
        }
    }
}